<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="wpa81" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="wpa81" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="wpa81" />
  <package id="Microsoft.Composition" version="1.0.30" targetFramework="wpa81" />
  <package id="Ninject" version="2.0.1.0" targetFramework="wpa81" />
  <package id="Portable.Ninject" version="3.3.1" targetFramework="wpa81" />
</packages>